  
<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>Johann Sebastian Bach</h3>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
            <img src="../../assets/BachImage.jpg" alt="Photo of Johann Sebastian Bach">
            <a href="https://pixabay.com/photos/leipzig-saxony-historic-center-4737955/">Source: Pixabay</a>
      </div>
      <div class="col-sm-6">
        <p>
            Johann Sebastian Bach was a notable composer from the baroque-era. He was born in Eisenach, Thuringia, Germany on March 31, 1685. His family was filled with musicians. His father taught him how to play the violin when he was very young. Bach was seen as an ordinary musician during his lifetime, but is now known as one of the greatest musicians in history. It wasn't until another composer, Felix Mendelssohn, performed Bach's St. Matthew Passion, that many people became aware of Bach's work as a composer. Johann Sebastian Bach passed away on July 28, 1750 in Leipzig.        
        </p>
      </div>
    </div>
  </div>