<!--
===============================================
; Title:  Assignment 4.4
; Author: Adam Luna
; Date: 20 June 2021
; Description: App component html file for enterprise composer app
;==============================================
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-5">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">Composer List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
  </ul>
</nav>

<div role="main" class="container">
  <br /><br />

  <h2>Assignment 4.4 - Async Pipe</h2>

  <br /><br />
</div>

<router-outlet></router-outlet>