/*
============================================
; Title:  Exercise 5.2
; Author: Adam Luna
; Date: 27 June 2021
; Description: App component CSS file
;===========================================
*/

.logo {
    margin-top: 5px;
  }

  .main-container {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
  } 