<!--
============================================
; Title:  Exercise 5.2
; Author: Adam Luna
; Date: 27 June 2021
; Description: Contact component HTML file
;===========================================
-->

<div fxLayout>
  <div fxFlex>
    <!-- Header Icon -->
    <mat-card-title>
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <p>PO Box 4558</p>
      <p>Sunnyside, NY</p>
    </mat-card-content>
  </div>
  <div fxFlex>
    <!-- Header Icon -->
    <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content>
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-800-123-4567</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
  </div>
</div>
